# Slack
SLACK_BOT_TOKEN=xoxb-...
SLACK_SIGNING_SECRET=...
SLACK_APP_TOKEN=xapp-...

# Google Calender
GOOGLE_CALENDER_ID=your-calendar-id@gmail.com
GOOGLE_CREDENTIALS_JSON=./google-credentials.json


# PostgreSQL
POSTGRES_DB=schedule_bot
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
DATABASE_URL=postgresql://postgres:your_password_here@postgres:5432/schedule_bot


